/*
===============
Reviews
===============
*/

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.title {
    text-align: center;
    margin-bottom: 2rem;
}

.underline {
    height: 0.25rem;
    width: 5rem;
    background: var(--c-dark-blue);
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 80vw;
    max-width: var(--fixed-width);
}

.review {
    background: var(--c-white);
    padding: 1.5rem 2rem;
    border-radius: var(--radius-big);
    box-shadow: var(--shadow-light);
    transition: var(--transition);
    text-align: center;
}

.review:hover {
    box-shadow: var(--shadow-dark);
}

.img-container {
    position: relative;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

#person-img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}

#author {
    color: var(--c-black);
    margin-bottom: 0.5rem;
}

#job {
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: var(--c-dark-grey);
    font-size: 0.85rem;
}
#info {
    color: var(--c-black);
    margin-bottom: 0.75rem;
}
.prev-btn,
.next-btn {
    color: var(--c-dark-grey);
    font-size: 1.25rem;
    background: transparent;
    border-color: transparent;
    margin: 0 0.5rem;
    transition: var(--transition);
    cursor: pointer;
}
.prev-btn:hover,
.next-btn:hover {
    color: var(--c-black);
}
.random-btn {
    margin-top: 1rem;
    background: transparent;
    color: var(--c-dark-grey);
    font-family: "Space Grotesk", sans-serif;
    padding: 0.25rem 0.5rem;
    text-transform: capitalize;
    transition: var(--transition);
    border: none;
    cursor: pointer;
}
.random-btn:hover {
    color: var(--c-dark-blue);
}