/*
===============
Navbar
===============
*/

nav {
    background: var(--c-white);
    box-shadow: var(--shadow-light);
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.nav-toggle {
    font-size: 1.5rem;
    background: transparent;
    border-color: transparent;
    transition: var(--transition-fast);
    cursor: pointer;
    color: var(--c-dark-grey);
}

.nav-toggle:hover {
    color: var(--c-black);
}

.logo {
    height: 40px;
}

.links a {
    color: var(--c-dark-grey);
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    padding: 0.5rem 1rem;
    transition: var(--transition-fast);
}

.links a:hover {
    background: var(--c-light-pink);
    color: var(--c-black);
    padding-left: 1.5rem;
}

.links {
    height: 0;
    overflow: hidden;
    transition: var(--transition-fast);
}

.show-links {
    height: 10rem;
}

@media screen and (min-width: 800px) {
    .nav-center {
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }

    .nav-header {
        padding: 0;
    }

    .nav-toggle {
        display: none;
    }

    .links {
        height: auto;
        display: flex;
    }

    .links a {
        padding: 0;
        margin: 0 0.5rem;
    }

    .links a:hover {
        padding: 0;
        background: transparent;
    }
}