/*
===============
Fonts
===============
*/

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&family=Space+Mono&display=swap');

/*
===============
Variables
===============
*/

:root {
    /* Dark hades */
    --c-dark-blue: hsl(228 56% 58%);
    --c-dark-pink: hsl(349 43% 68%);

    /* Light shades */
    --c-light-blue: hsl(201 43% 67%);
    --c-light-pink: hsl(12 61% 82%);

    /* Monochrome */
    --c-light-grey: hsl(360 0% 94%);
    --c-dark-grey: hsl(0 0% 59%);
    --c-white: hsl(0 0% 100%);
    --c-black: hsl(0 0% 9%);

    --ff-primary: "Space Grotesk", sans-serif;
    --ff-secondary: "Space Mono", mono;
    --transition: all 0.05s linear;
    --spacing: 0.1rem;
    --radius-small: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
}

/*
===============
Global Styles
===============
*/

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-secondary);
    background: var(--c-light-grey);
    color: var(--c-black);
    line-height: 1.5;
    font-size: 0.875rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 0.875rem;
}
p {
    margin-bottom: 1.25rem;
    color: var(--c-dark-grey);
}
@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1rem;
    }
    body {
        font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}

/*  Global classes */

/* Section */
.section {
    padding: 5rem 0;
}

.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
}

@media screen and (min-width: 992px) {
    .section-center {
        width: 95vw;
    }
}

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

/*
===============
Counter (#1)
===============
*/

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.container {
    text-align: center;
    padding: 0 20rem;
}

#value {
    font-size: 6rem;
    font-weight: bold;
}

.btn {
    text-transform: uppercase;
    background: transparent;
    color: var(--c-black);
    padding: 0.5rem 0.75rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    transition: var(--transition);
    font-size: 0.875rem;
    border: 2px solid var(--c-black);
    cursor: pointer;
    border-radius: var(--radius-small);
    margin: 0.5rem;
}

.btn:hover {
    color: var(--c-white);
    background: var(--c-black);
}