ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/*** Nav ***/

nav {
  height: 3rem;
  display: grid;
  align-items: center;
  border-bottom: 3px solid var(--c-black);
}

.nav-centre {
  width: 95vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-centre h4 {
  margin-bottom: 0;
  color: var(--c-black);
}

.nav-links {
  display: flex;
}

nav a {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1rem;
  color: var(--c-black);
  margin-right: 1rem;
}

nav a:hover {
  color: var(--c-dark-grey);
}

/*** Main ***/

main {
  min-height: calc(100vh - 3rem);
  display: grid;
  place-items: center;
}

.container {
  text-align: center;
}

.container h2 {
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 2.5rem;
}

.colour {
  color: var(--c-black);
}

.btn-hero {
  text-transform: uppercase;
  background: transparent;
  color: var(--c-black);
  display: inline-block;
  font-weight: 700;
  border: 3px solid var(--c-black);
  border-radius: 5px;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
}

.btn-hero:hover {
  color: var(--c-white);
  background: var(--c-black);
  cursor: pointer;
}
