.sidebar-toggle {
    position: fixed;
    top: 2rem;
    right: 3rem;
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: var(--c-black);
    transition: var(--transition-slow);
    cursor: pointer;
    transform-origin: center;
}

.sidebar-toggle:hover {
    color: var(--c-dark-blue);
}

.btn-toggled {
    transform: rotate(90deg);
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.btn-close {
    font-size: 1.75rem;
    background: transparent;
    border-color: transparent;
    color: var(--c-black);
    transition: var(--transition-slow);
    cursor: pointer;
    transform-origin: 51% 51%;
}

.btn-close:hover {
    color: var(--c-dark-pink);
    transform: rotate(90deg);
}

.logo {
    justify-self: center;
    height: 40px;
}

.links a {
    display: block;
    font-size: 1.5rem;
    text-transform: capitalize;
    padding: 1rem 1.5rem;
    color: var(--c-dark-grey);
    transition: var(--transition-fast);
}

.links a:hover {
    background: var(--c-light-pink);
    color: var(--c-black);
    padding-left: 1.75rem;
}

.social-icons {
    justify-self: center;
    display: flex;
    padding-bottom: 2rem;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--c-white);
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 1rem;
    box-shadow: var(--c-light-grey);
    transition: var(--transition-slow);
    transform: translate(-100%);
}

.show-sidebar {
    transform: translate(0);
}

@media screen and (min-width: 676px) {
    .sidebar {
        width: 400px;
    }
}