*/ .preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--c-white);
  display: grid;
  justify-content: center;
  align-items: center;
  visibility: visible;
  z-index: 999;
  transition: var(--transition-slow);
}

.hide-preloader {
  z-index: -999;
  visibility: hidden;
}

header {
  min-height: 100vh;
  position: relative;
  display: grid;
  place-items: center;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

h1 {
  color: var(--c-white);
}

/* Switch button */

.switch-btn {
  position: absolute;
  bottom: 7%;
  left: 7%;
  width: 7rem;
  height: 2rem;
  display: flex;
  border-radius: var(--radius-small);
  align-items: center;
  justify-content: space-around;
  border: none;
  transition: var(--transition-fast);
}

.switch-btn span {
  display: inline-block;
  font-size: 0.85rem;
  cursor: pointer;
  text-transform: capitalize;
  color: var(--c-dark-blue);
}

.switch {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--c-dark-pink);
  border-radius: var(--radius-small);
  margin: 0;
  display: block;
  transition: var(--transition-fast);
}

.slide .switch {
  left: 50%;
}

/* header after */

header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(89, 23, 58, 0.3);
  z-index: -1;
}
