.gift-img {
  margin-bottom: 2rem;
}

.gift-info h3 {
  text-transform: uppercase;
  color: var(--c-light-blue);
}

.gift-info p {
  color: var(--c-dark-grey);
}

.date {
  color: var(--c-dark-grey);
  font-size: 0.85rem;
}

@media screen and (min-width: 992px) {
  .section-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 3rem;
    width: 95vw;
  }

  .gift-img {
    margin-bottom: 0;
  }
}

.gift-info p {
  margin: 2rem 0;
}

.deadline {
  display: flex;
}

.deadline-format {
  background: transparent;
  color: var(--c-black);
  width: 5rem;
  height: 5rem;
  display: grid;
  place-items: center;
  border: solid var(--c-black) 4px;
  border-radius: var(--radius-big);
  text-align: center;
}

.deadline-format span {
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85rem;
}

.deadline h4:not(.expired) {
  font-size: 2rem;
  margin-bottom: 0.25rem;
  letter-spacing: var(--spacing);
}

.date-separation {
  text-align: center;
  display: grid;
  place-items: center;
  margin: 0 0.75rem 0 0.75rem;
}
