/*** Fonts ***/

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

/*** Variables ***/

:root {
    --black: #000;
    --white: #fff;
    --orange: #e07a5f;
    --grey: #999;
    --light-grey: #ccc;
}

/*** Global Styles ***/

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
    color: var(--black);
    line-height: 1.5;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h4 {
    font-size: 1rem;
    line-height: 1;
}

/*** Nav ***/

nav {
    height: 3rem;
    display: grid;
    align-items: center;
    border-bottom: 3px solid var(--black);
}

.nav-centre {
    width: 95vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-centre h4 {
    margin-bottom: 0;
    color: var(--black);
}

.nav-links {
    display: flex;
}

nav a {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1rem;
    color: var(--black);
    margin-right: 1rem;
}

nav a:hover {
    color: var(--grey);
}

/*** Main ***/

main {
    min-height: calc(100vh - 3rem);
    display: grid;
    place-items: center;
}

.container {
    text-align: center;
}

.container h2 {
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 2.5rem;
}

.colour {
    color: var(--black);
}

.btn-hero {
    text-transform: uppercase;
    background: transparent;
    color: var(--black);
    display: inline-block;
    font-weight: 700;
    border: 3px solid var(--black);
    border-radius: 5px;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
}

.btn-hero:hover {
    color: var(--white);
    background: var(--black);
    cursor: pointer;
}